* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #9897A5;
}
h2 {
    color: white;
    text-align: center;
}
.container {
    max-width: 1000px;
    margin: auto;
}
.grid-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.column-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bg-blue {
    background-color: blue;
}
.bg-green {
    background-color: green;
}
.bg-yellow {
    background-color: yellow;
}
.bg-dark {
    background-color: #333333;
}
.horizontal-menu {
    background-color: white;
    border-radius: 5px;
}
.horizontal-menu ul {
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.horizontal-menu ul li {
    display: inline-block;
}
.horizontal-menu ul li a {
    display: block;
    font-size: 13px;
    color: #414141;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.horizontal-menu.hover-blue ul li a:hover {
    background-color: #00A0D2;
    color: white;
}
.horizontal-menu.hover-yellow ul li a:hover {
    background-color: #FDC42D;
    color: white;
}
.horizontal-menu.hover-green ul li a:hover {
    background-color: #B0D14C;
    color: white;
}
.horizontal-menu.hover-dark ul li a:hover {
    background-color: #414141;
    color: white;
}
.horizontal-menu ul ul {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #333333;
    z-index: 10;
}
.horizontal-menu.hover-blue li:hover a {
    background-color: #00A0D2;
    color: white;
}
.horizontal-menu.hover-green li:hover a {
    background-color: #B0D14C;
    color: white;
}
.horizontal-menu.hover-dark li:hover a {
    background-color: #414141;
    color: white;
}
.horizontal-menu li:hover ul {
    display: block;
}
.horizontal-menu li:hover ul li {
    display: block;
}
.horizontal-menu li:hover ul li a {
    color: white;
    background-color: #333333;
    text-align: left;
}
.horizontal-menu.hover-blue li:hover ul li a {
    background-color: #333333;
    color: white;
}
.horizontal-menu.hover-blue li:hover ul li a:hover {
    background-color: #00A0D2;
    color: white;
}
.horizontal-menu.hover-green li:hover ul li a {
    background-color: #333333;
    color: white;
}
.horizontal-menu.hover-green li:hover ul li a:hover {
    background-color: #B0D14C;
    color: white;
}